[Desktop Entry]
Name=sprinterOS Plus standart

X-KDE-PluginInfo-Name=Azul-openSUSE
X-KDE-PluginInfo-Author=Yigit Gokbunar
X-KDE-PluginInfo-Email=ygokbunar@gmail.com
X-KDE-PluginInfo-License=GPLv2


